<<<<<<< HEAD
/* Reset */
* { box-sizing: border-box; position: relative; padding: 0; margin: 0; }

=======
>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1
/*
  Color Definitions

  Bold                              Contrast
<<<<<<< HEAD
  #4B88A2  #6B9DB2 - dark blue      #D7D7D9  #DEDEDF - light gray
  #F1FFE7  #F3FFEB - off-white      #F4F8FF  #F6F9FF - white
  #D7F9FF  #D3FAFF - light blue     #030301  #30302F - black
  #A9FDAC  #B9FDBB - light green    #878C98  #9CA0AA - mid gray
  #54CE6D  #73D686 - dark green     #81A2B6  #97B2C3 - blue slate
*/

=======
  #4B88A2  #6B9DB2 - dark blue      #D7D7D9  #DEDEDF #ECECED - light gray
  #F1FFE7  #F3FFEB - off-white      #F4F8FF  #F6F9FF - white
  #D7F9FF  #D3FAFF - light blue     #030301  #30302F - black
  #A9FDAC  #B9FDBB - light green    #878C98  #9CA0AA - mid gray
  #54CE6D  #73D686 - dark green     #475964  #81A2B6  #97B2C3 #C5D4DD- blue slate
*/

/* Reset */
* { box-sizing: border-box; position: relative; padding: 0; margin: 0; }


/* Content Sections */
>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1
html, body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  font-family: Arial, sans-serif;
<<<<<<< HEAD
  background: #9CA0AA;
}

/* Headers */
=======
  background: white;
  color: #030301;
}

#page {
  font-size: 1em;
  margin: 0em auto;
  padding-top: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: #EEEEEE;
  background-size: cover;
  background-repeat: no-repeat;
}

.floatBox {
  font-size: 1em;
  background-color: #F6F9FF;
  box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, 0.2), 0 .3em 1.25em 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
  width: 100%;
  min-height: 30%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1.5em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


/* Text and Font */
>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1
h1 { font-size: 3em; text-align: center; font-weight: bold; padding: .5em; }
h2 { font-size: 2em; text-align: center; }
h3 { font-size: 1.5em; text-align: left; font-weight: lighter;}
h4 { font-size: .75em; text-align: left; font-weight: lighter; font-style: italic;}
p  { font-size: 1em; text-align: left; }

<<<<<<< HEAD
/* Links */
=======
>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1
a:link { color: #97B2C3; text-decoration: none; }
a:hover { color: #81A2B6; text-decoration: underline; }
a:visited { color: #878C98; text-decoration: none; }

<<<<<<< HEAD
input {
  font-size: 1em;
  padding: .5em;
  margin: .5em;
=======

/* Forms and Input */
form {
  margin: 1em;
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  font-size: 1em;
  padding: .5em;
>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1
  border-radius: .2em;
  border: .1em solid #878C98;
  vertical-align: middle;
}

textarea {
<<<<<<< HEAD
  height: 4em;
  margin: .5em;
=======
  height: 6em;
  width: 70%;
>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1
  padding: .5em;
  font-size: 1em;
  border-radius: .2em;
  border: .1em solid #878C98;
}

<<<<<<< HEAD
/* Standard Button */
=======
>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1
button {
  font-size: 1em;
  background-color: #97B2C3;
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: .75em 1em;
<<<<<<< HEAD
  margin: .5em;
=======
>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: .3em;
  transition-duration: 0.4s;
}
button:hover { background-color: #81A2B6; }
button:active { background-color: #DEDEDF; }

<<<<<<< HEAD
/* IDs */
#page {
  font-size: 1em;
  margin: 0em auto;
  padding-top: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: #DEDEDF;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Classes */
.floatBox {
  font-size: 1em;
  background-color: #F6F9FF;
  box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, 0.2), 0 .3em 1.25em 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
  width: 100%;
  min-height: 30%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1.5em;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
=======
>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1

/* Animations */
.shake { animation: shake 0.5s; animation-iteration-count: infinite; }
@keyframes shake {
  0% { transform: translate(.5em, .5em) rotate(0deg); }
  10% { transform: translate(-.5em, -.5em) rotate(-4deg); }
  20% { transform: translate(-1.5em, 0em) rotate(4deg); }
  30% { transform: translate(1.5em, 1em) rotate(0deg); }
  40% { transform: translate(.5em, -.5em) rotate(4deg); }
  50% { transform: translate(-.5em, 1em) rotate(-4deg); }
  60% { transform: translate(-1.5em, .5em) rotate(0deg); }
  70% { transform: translate(1.5em, .5em) rotate(-4deg); }
  80% { transform: translate(-.5em, -.5em) rotate(4deg); }
  90% { transform: translate(.5em, 1em) rotate(0deg); }
  100% { transform: translate(.5em, -1em) rotate(-4deg); }
}

<<<<<<< HEAD
=======

>>>>>>> 90ec25704ffc5d0551dada9dc6d3f0aa5220f5a1
/* Media Queries */
@media (max-width:710px) , (min-resolution: 200dpi){
  input, textarea { min-width: 80%; }
  button { min-width: 30%; }
}

@media (min-width:1100px) {
  #page { max-width: 1400px; }
  .floatBox { max-width: 1000px; }
}

@media (min-width:1920px) , (min-resolution: 200dpi) {
  body { font-size: 20px; }
  #page { max-width: 1800px; }
  .floatBox { max-width: 1200px; }
}

@media (min-resolution: 200dpi) {
  body { font-size: 30px; }
}
